# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3

# Env files
.env

# VS Code
.vscode/

# Packages
*.zip
*.tar.gz

# IDE files
.idea/
*.iml
